form {
    display: flex;
    flex-direction: column;
}

.commentsForm {
    input,
    textarea {
        background-color: $primary;
    }
}

.contactForm {
    input,
    textarea {
        background-color: $secondary;
    }
}

.contactFormContainer {
    position: relative;
    left: -65px;
    top: -150px;
    background-color: $secondary;
    width: 75%;
    padding: 65px;
    box-shadow: 20px 20px 0 0 $highlightColour;
    input {
        margin-top: 0;
    }
}

.formUserInfo {
    display: flex;
    justify-content: space-between;
}

input {
    width: 45%;
    margin-top: 50px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid $buttonColour;
}

textarea {
    border: 2px solid $buttonColour;
    margin-bottom: 25px;
}

input,
textarea {
    padding: 25px 0 25px 25px;
    &::placeholder {
        color: $black;
        opacity: 1;
        text-transform: uppercase;
    }    
    &:focus {
        outline: none;
    }
}