.homeHeader {
    background-image: url('../assets/header-home.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 750px;
    margin-bottom: 350px;
}

.homeNavContainer,
.blogNavContainer,
.contactNavContainer {
    display: flex;
    h5 {
        width: 50%;
    }
}

.homeNavContainer {
    //position: relative; it's easier to position the pseudo element relative to the browser window than the parent element
    h5 {
        opacity: 0;
        cursor: default;
    }
    &::after {
    content: '';
        background-image: url("../assets/header-box.png");
        background-position: top left;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 300px;
        left: 0%;
        max-height: 770px;
        height: 100%;
        width: clamp(600px, 55vw, 1100px);
    }
}

.navLinks {
    ul {
        display: flex;
        justify-content: space-between;
        padding: 30px 0 30px 10%;
        a {
            border-bottom: 5px solid rgba($highlightColour, 0);
            &:hover,
            &:focus {
                border-bottom: 5px solid rgba($highlightColour, 1);
            }
        }
    }
    width: 50%;
}

h1{
    width: 50%;
    word-wrap: normal;
    padding-left: 10%;
    margin: 0;
}
