@media (max-width: 1600px) {
    .homeHeader {
        margin-bottom: 15%;
    }
    .navLinks {
        ul {
            padding: 30px 10% 30px 0;
        }
    }

    .programsContainer {
        .programsTextContainer,
        .imageContainer {
            width: 50%;
            img {
                width: 120%;
            }
            p {
                max-height: 200px;
                overflow: hidden;
            }
        }
        .imageContainer:nth-child(1) {
            padding-right: 75px;
            img {
                right: 75px;
            }
        }
        .programsTextContainer:nth-child(2) {
            padding-left: 75px;
        }
        .programsTextContainer:nth-child(3) {
            padding-right: 75px;
        }
        .imageContainer:nth-child(4) {
            padding-left: 75px;
            position: static;
            img {
                width: 45%;
                right: 0;
            }
        }
    }
}

@media (max-width: 1300px) {
    header {
        .navContainer {
            h5 {
                // padding-right: 0;
                width: 50%;
            }
        }
    }

    .homeHeader {
        h1 {
            padding-left: 0;
        }
    }

    .navLinks {
        ul {
            padding-right: 0;
        }
    }

    .introContainer {
        margin-bottom: 100px;
        .introTextContainer {
            width: 50%;
            p {    
                height: 200px;
                overflow: hidden;
            }
        }
        .imageContainer {
            width: 50%;
            img {
                max-width: 80%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .blogContainer {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
        min-height: 100%;
    }
    
    .blogContent {
        width: 80%;
        .blogPost {
            padding-left: 0;
            border: 10px solid $highlightColour;
            position: relative;
            &::before {
                width: calc(100% + 20px);
                right: -10px;
                box-shadow: 0 0 0 0 $highlightColour;
            }
        }
    }
    
    .blogComments {
        padding-left: 0;
    }
    
    .blogSidebar {
        width: 100%;
        padding-top: 100px;
        right: 0;
        .blogSidebarContainer {
            position: static;
            .wrapper {
                display: flex;
                justify-content: space-between;
            }
            padding: 25px 0;
            max-width: none;
            &::before {
                content: none;
            }
            box-shadow: 0 0 0 0 $highlightColour;;
        }
        .sidebarTextContainer {
            padding-left: 5%;
            width: 45%;
        }
    }
}

@media (max-width: 1000px) {
    .programsContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
        .programsTextContainer,
        .imageContainer {
            width: 100%;
            p {
                max-height: none;
                overflow: none;
            }
        }
        .imageContainer:nth-child(1),
        .imageContainer:nth-child(4) {
            padding: 0;
            img {
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
            }
        }
        .programsTextContainer:nth-child(2) {
            padding: 50px 0;
        }
        .programsTextContainer:nth-child(3) {
            padding: 50px 0;
        }
    }
    section.search {
        padding: 100px 0;
    }

    .contactContainer {
        flex-direction: column;
    }

    .contactFormContainer {
        left: 0;
        width: 100%;
    }

    .contactInfoContainer {
        width: 100%;
        padding: 0 10% 0 15%;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -50px;
    }
}

@media (max-width: 900px) {
    header {
        .navContainer {
            h5 {
                padding-right: 5%;
            }
        }
    }

    .homeHeader {
        height: 65vw;
        min-height: 300px;
        .navContainer {
            &::after {
                top: 300px;
                width: 55vw;
                max-height: 400px;
            }
        }
    }

    .introContainer {
        .introTextContainer {
            min-width: 275px;
        }
        .imageContainer {
            img {
                max-width: 256px;
            }
        }
        margin-bottom: 50px;
    }

    section.gallery {
        padding: 50px 0;
    }

    .connectContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 50px 0 0;
        .connectItemContainer {
            padding-left: 70px;
            padding-bottom: 50px;
            width: 80%;
            position: relative;
            &:nth-child(1) .connectItem::before {
                padding: 10px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: -5px;
            }        
            &:nth-child(2) .connectItem::before {
                padding: 10px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: -5px;
            }       
            &:nth-child(3) .connectItem::before {
                padding: 10px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: -5px;
            }        
            &:nth-child(4) .connectItem::before {
                padding: 10px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: -5px;
            }
        }
    }
    section.banner {
        min-height: 250px;
    }
}

@media (max-width: 750px) {
    .introContainer {
        flex-direction: column-reverse;
        .introTextContainer {
            width: 100%;
        }
        .imageContainer {
            width: 100%;
            height: 400px;
            img {
                max-width: 304px;
                position: relative;
                left: 25%;
                top: 10%;
            }
        }
        margin-bottom: 50px;
    }

    .blogSidebar {
        .blogSidebarContainer {
            .wrapper {
                flex-direction: column;
                align-items: center;
            }
        }
        .sidebarTextContainer {
            width: 95%;
        }
    }

    .formUserInfo {
        flex-direction: column;
        justify-content:center;
    }
    input {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    textarea {
        margin-top: 50px;
    }

    .contactInfoContainer {
        padding-left: 20%;
        display: block;
    }
}

@media (max-width: 650px) {
    .homeHeader {
        margin-bottom: 0;
        .navContainer {
            h5 {
                padding-right: 0;
                width: 0;
            }
            .navLinks {
                width: 100%;
                min-width: max-content;
            }
            &::after {
                content: none;
            }
        }
        h1 {
            font-size: 50px;
        }
    }

    .blogHeader,
    .contactHeader {
        .navLinks {
            min-width: max-content;
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        } 
    }

    .introContainer {
        .imageContainer {
            img {
                left: 20%;
            }
        } 
    }

    section.gallery {
        padding-bottom: 0;
        ul {
            flex-direction: column;
            li {
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }   

    .contactFormContainer {
        padding: 20px
    }  
}

@media (max-width: 375px) {
    .homeHeader {
        h1 {
            font-size: 40px;
        }
    }
    .navContainer {
        a {
        font-size: 16px;
        }
    }

    .introContainer {
        .imageContainer {
            img {
                left: 5%;
            }
        }
    }
    
    h3 {
        font-size: 28px;
    }
}