// site fonts
$headingFont: 'Kumar One Outline';
$subheadingFont: 'Kumar One';
$bodyFont: 'Lato';

// site colours
$primary: #E0FDDF;
$secondary: #F5F5F5;
$highlightColour: #F8FB05;
$buttonColour: #065635;
$black: #151514;