@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Kumar One Outline";
  src: url("../fonts/Kumar_One_Outline/KumarOneOutline-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Kumar One";
  src: url("../fonts/Kumar_One/KumarOne-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
}
html {
  font-size: 125%;
}

h1 {
  font-family: "Kumar One Outline";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 68px;
  line-height: 64px;
}

h2, h3, h4, h5 {
  font-family: "Kumar One";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 33px;
  line-height: 56px;
  letter-spacing: 2.1px;
}

h4 {
  font-size: 26px;
}

header h5 {
  font-size: 24px;
  line-height: 1;
}

.navLinks {
  font-family: "Lato";
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.navLinks a {
  text-align: center;
}

p,
input,
textarea,
.bodyCopy {
  font-family: "Lato";
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
}
p.postDate,
input.postDate,
textarea.postDate,
.bodyCopy.postDate {
  font-style: italic;
  letter-spacing: 1px;
}
p.postDate span,
input.postDate span,
textarea.postDate span,
.bodyCopy.postDate span {
  font-weight: bold;
}
p.commentDate,
input.commentDate,
textarea.commentDate,
.bodyCopy.commentDate {
  font-weight: bold;
  text-transform: uppercase;
}

button {
  font-family: "Kumar One";
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #F5F5F5;
}

.wrapper {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #151514;
  cursor: pointer;
}

.imageContainer {
  position: relative;
}
.imageContainer img {
  width: 100%;
  position: absolute;
}

button.defaultButton {
  color: #F5F5F5;
  background-color: #065635;
  padding: 10px 20px 4px;
  border: 1px solid #065635;
  margin-top: 10px;
  cursor: pointer;
}
button.defaultButton:hover, button.defaultButton:focus {
  background-color: #F5F5F5;
  color: #065635;
}

header {
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 250px;
}
header .navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}
header .navContainer h5 {
  padding-top: 30px;
  padding-right: 50%;
  width: 700px;
}

.homeHeader {
  background-image: url("../assets/header-home.jpg");
  min-height: 750px;
  margin-bottom: 350px;
  padding-bottom: 0;
}
.homeHeader .navContainer {
  margin-bottom: 50px;
}
.homeHeader .navContainer h5 {
  opacity: 0;
  cursor: default;
}
.homeHeader .navContainer::after {
  content: "";
  background-image: url("../assets/header-box.png");
  background-position: top left;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 300px;
  left: 0%;
  max-height: 770px;
  height: 100%;
  width: clamp(600px, 55vw, 1100px);
}
.homeHeader h1 {
  padding-left: 10%;
}

.blogHeader {
  background-image: url("../assets/blog-image.jpg");
}

.contactHeader {
  background-image: url("../assets/contact-image.jpg");
}

.navLinks {
  width: 50%;
  min-width: 400px;
}
.navLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 30px 10%;
}
.navLinks ul a {
  border-bottom: 5px solid rgba(248, 251, 5, 0);
}
.navLinks ul a:hover, .navLinks ul a:focus {
  border-bottom: 5px solid #f8fb05;
}

h1 {
  width: 50%;
  word-wrap: normal;
  margin: 0;
}

.introContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}
.introContainer .introTextContainer {
  width: 65%;
}
.introContainer .introTextContainer h3 {
  margin-bottom: 20px;
}
.introContainer .imageContainer {
  width: 35%;
}
.introContainer .imageContainer img {
  max-width: 304px;
  right: 0;
  -webkit-box-shadow: -20px 20px 0 0 #F8FB05;
          box-shadow: -20px 20px 0 0 #F8FB05;
}

section.gallery {
  background-color: #E0FDDF;
  padding: 100px 0;
}
section.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.gallery ul li {
  width: 30%;
}
section.gallery ul li img {
  width: 100%;
}

.connectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}
.connectContainer .connectItemContainer {
  padding-left: 70px;
  padding-bottom: 50px;
  width: 50%;
  position: relative;
}
.connectContainer .connectItemContainer:nth-child(1) .connectItem::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  content: "";
  background-color: #F8FB05;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -5px;
}
.connectContainer .connectItemContainer:nth-child(2) .connectItem::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  content: "";
  background-color: #F8FB05;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -5px;
}
.connectContainer .connectItemContainer:nth-child(3) .connectItem::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  content: "";
  background-color: #F8FB05;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -5px;
}
.connectContainer .connectItemContainer:nth-child(4) .connectItem::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  content: "";
  background-color: #F8FB05;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -5px;
}

section.programs {
  background-color: #E0FDDF;
  position: relative;
}

.programsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}
.programsContainer .programsTextContainer,
.programsContainer .imageContainer {
  width: clamp(640px, 40%, 800px);
}
.programsContainer .programsTextContainer img,
.programsContainer .imageContainer img {
  width: 675px;
}
.programsContainer .programsTextContainer button.defaultButton,
.programsContainer .imageContainer button.defaultButton {
  margin-top: 30px;
}
.programsContainer .imageContainer:nth-child(1) {
  padding-right: 125px;
}
.programsContainer .imageContainer:nth-child(1) img {
  bottom: 100px;
  right: 125px;
  -webkit-box-shadow: 20px 20px 0 0 #F8FB05;
          box-shadow: 20px 20px 0 0 #F8FB05;
}
.programsContainer .programsTextContainer:nth-child(2) {
  padding-left: 125px;
  padding-right: 5%;
  padding-bottom: 100px;
}
.programsContainer .programsTextContainer:nth-child(3) {
  padding-right: 125px;
  padding-left: 5%;
  text-align: right;
}
.programsContainer .imageContainer:nth-child(4) {
  padding-left: 125px;
}
.programsContainer .imageContainer:nth-child(4) img {
  -webkit-box-shadow: -20px 20px 0 0 #F8FB05;
          box-shadow: -20px 20px 0 0 #F8FB05;
}

section.banner {
  background-image: url("../assets/banner-image.jpg");
  background-position: center;
  background-size: cover;
  min-height: 500px;
  width: 100%;
}

section.search {
  padding: 200px 0;
  text-align: center;
}
section.search p {
  padding: 0 5%;
  text-align: justify;
}
section.search button.defaultButton {
  margin-top: 20px;
}

main.blog {
  background-color: #E0FDDF;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

.blogContent {
  width: 62.5%;
}
.blogContent .blogPost {
  background-color: #F5F5F5;
  margin-bottom: 50px;
  padding-top: 550px;
  padding-left: 7%;
  border-right: 10px solid #F8FB05;
  border-bottom: 10px solid #F8FB05;
  position: relative;
}
.blogContent .blogPost::before {
  content: "";
  background-image: url("../assets/blog-post-image.jpg");
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 650px;
  position: absolute;
  right: 10px;
  top: -150px;
  -webkit-box-shadow: 20px 20px 0 0 #F8FB05;
          box-shadow: 20px 20px 0 0 #F8FB05;
}
.blogContent .blogPost p {
  margin-bottom: 50px;
}
.blogContent .blogPost p.postDate {
  margin-top: 10px;
}

.blogComments {
  padding-left: 7%;
}
.blogComments .commentsDisplay {
  margin-bottom: 40px;
}
.blogComments .commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 25px;
}
.blogComments .commentContainer .imageContainer {
  width: 10%;
}
.blogComments .commentContainer .commentTextContainer {
  width: 90%;
  padding-left: 50px;
}

.blogSidebar {
  width: 37.5%;
  padding-top: 150px;
}
.blogSidebar .blogSidebarContainer {
  background-color: #F8FB05;
  padding-top: 400px;
  padding-bottom: 20px;
  max-width: 400px;
  position: absolute;
  right: 0;
}
.blogSidebar .blogSidebarContainer::before {
  content: "";
  background-image: url("../assets/sidebar-image.jpg");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 90%;
  max-width: 450px;
  position: absolute;
  right: 0;
  bottom: 550px;
}
.blogSidebar .sidebarTextContainer {
  margin-bottom: 20px;
}
.blogSidebar .sidebarTextContainer a:hover,
.blogSidebar .sidebarTextContainer a:focus {
  border-bottom: 2px solid #065635;
}

main.contact {
  background-color: #E0FDDF;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactInfoContainer {
  width: 25%;
  padding-top: 150px;
  padding-left: 5%;
}

.contactEmail {
  margin-bottom: 30px;
}

.contactSocials {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.contactSocials a i {
  color: #065635;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commentsForm input,
.commentsForm textarea {
  background-color: #E0FDDF;
}

.contactForm input,
.contactForm textarea {
  background-color: #F5F5F5;
}

.contactFormContainer {
  position: relative;
  left: -65px;
  top: -150px;
  background-color: #F5F5F5;
  width: 75%;
  padding: 65px;
  -webkit-box-shadow: 20px 20px 0 0 #F8FB05;
          box-shadow: 20px 20px 0 0 #F8FB05;
}
.contactFormContainer input {
  margin-top: 0;
}

.formUserInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input {
  width: 45%;
  margin-top: 50px;
  margin-bottom: 40px;
  border: none;
  border-bottom: 2px solid #065635;
}

textarea {
  border: 2px solid #065635;
  margin-bottom: 25px;
}

input,
textarea {
  padding: 25px 0 25px 25px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #151514;
  opacity: 1;
  text-transform: uppercase;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #151514;
  opacity: 1;
  text-transform: uppercase;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #151514;
  opacity: 1;
  text-transform: uppercase;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #151514;
  opacity: 1;
  text-transform: uppercase;
}
input::placeholder,
textarea::placeholder {
  color: #151514;
  opacity: 1;
  text-transform: uppercase;
}
input:focus,
textarea:focus {
  outline: none;
}

footer {
  color: #F5F5F5;
  background-color: #151514;
  text-align: center;
}

@media (max-width: 1600px) {
  .homeHeader {
    margin-bottom: 15%;
  }

  .navLinks ul {
    padding: 30px 10% 30px 0;
  }

  .programsContainer .programsTextContainer,
.programsContainer .imageContainer {
    width: 50%;
  }
  .programsContainer .programsTextContainer img,
.programsContainer .imageContainer img {
    width: 120%;
  }
  .programsContainer .programsTextContainer p,
.programsContainer .imageContainer p {
    max-height: 200px;
    overflow: hidden;
  }
  .programsContainer .imageContainer:nth-child(1) {
    padding-right: 75px;
  }
  .programsContainer .imageContainer:nth-child(1) img {
    right: 75px;
  }
  .programsContainer .programsTextContainer:nth-child(2) {
    padding-left: 75px;
  }
  .programsContainer .programsTextContainer:nth-child(3) {
    padding-right: 75px;
  }
  .programsContainer .imageContainer:nth-child(4) {
    padding-left: 75px;
    position: static;
  }
  .programsContainer .imageContainer:nth-child(4) img {
    width: 45%;
    right: 0;
  }
}
@media (max-width: 1300px) {
  header .navContainer h5 {
    width: 50%;
  }

  .homeHeader h1 {
    padding-left: 0;
  }

  .navLinks ul {
    padding-right: 0;
  }

  .introContainer {
    margin-bottom: 100px;
  }
  .introContainer .introTextContainer {
    width: 50%;
  }
  .introContainer .introTextContainer p {
    height: 200px;
    overflow: hidden;
  }
  .introContainer .imageContainer {
    width: 50%;
  }
  .introContainer .imageContainer img {
    max-width: 80%;
  }
}
@media (max-width: 1200px) {
  .blogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    min-height: 100%;
  }

  .blogContent {
    width: 80%;
  }
  .blogContent .blogPost {
    padding-left: 0;
    border: 10px solid #F8FB05;
    position: relative;
  }
  .blogContent .blogPost::before {
    width: calc(100% + 20px);
    right: -10px;
    -webkit-box-shadow: 0 0 0 0 #F8FB05;
            box-shadow: 0 0 0 0 #F8FB05;
  }

  .blogComments {
    padding-left: 0;
  }

  .blogSidebar {
    width: 100%;
    padding-top: 100px;
    right: 0;
  }
  .blogSidebar .blogSidebarContainer {
    position: static;
    padding: 25px 0;
    max-width: none;
    -webkit-box-shadow: 0 0 0 0 #F8FB05;
            box-shadow: 0 0 0 0 #F8FB05;
  }
  .blogSidebar .blogSidebarContainer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blogSidebar .blogSidebarContainer::before {
    content: none;
  }
  .blogSidebar .sidebarTextContainer {
    padding-left: 5%;
    width: 45%;
  }
}
@media (max-width: 1000px) {
  .programsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
  }
  .programsContainer .programsTextContainer,
.programsContainer .imageContainer {
    width: 100%;
  }
  .programsContainer .programsTextContainer p,
.programsContainer .imageContainer p {
    max-height: none;
    overflow: none;
  }
  .programsContainer .imageContainer:nth-child(1),
.programsContainer .imageContainer:nth-child(4) {
    padding: 0;
  }
  .programsContainer .imageContainer:nth-child(1) img,
.programsContainer .imageContainer:nth-child(4) img {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .programsContainer .programsTextContainer:nth-child(2) {
    padding: 50px 0;
  }
  .programsContainer .programsTextContainer:nth-child(3) {
    padding: 50px 0;
  }

  section.search {
    padding: 100px 0;
  }

  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contactFormContainer {
    left: 0;
    width: 100%;
  }

  .contactInfoContainer {
    width: 100%;
    padding: 0 10% 0 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: -50px;
  }
}